{% extends 'panel_base.html' %}
{% load static %}
{% block links %}
    <link href="{% static 'panel/plugins/circle_progress_bar/css/circle.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Редактирование фильтра описания баллов</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Редактирование фильтра матрицы</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Параметры фильтра</h3>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="input_fio">Название</label>
                                        <input type="text" class="form-control" id="input_filter_name"
                                               value="{{ filter.name }}">
                                    </div>
                                </div>
                            </div>

                        </div>
                        {#                                    <div class="card-footer text-end">#}
                        {#                                        <button class="btn btn-primary my-1 nav-buttons" type="button" id="save_company">Сохранить</button>#}
                        {#                                    </div>#}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header row pt-2 pb-2 justify-content-md-center">
                            <div class="">
                                <table style="width: 100%">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="card-title">Шкалы (категории) + баллы</h3>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary my-1" type="button" id="add_filter_category"
                                                    style="float: right">Добавить шкалу
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            {#                                        <div class="col col-lg-6 col-sm-6">#}
                            {#                                        </div>#}
                            {#                                        <div class="col col-lg-6 col-sm-6 text-end">#}
                            {#                                        </div>#}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                {#                                            <table class="table text-nowrap border-bottom team-table dataTable no-footer" id="table_filter_categories">#}
                                <table class="table text-nowrap border-bottom" id="table_filter_categories">
                                    <thead class="thead-style">
                                    <tr>
                                        <th>Наименование</th>
                                        <th>Балл, от</th>
                                        <th>Балл, до</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_filter_categories">
                                    {% for filter_category in filter_categories %}
                                        <tr data-filter-id="{{ filter_category.id }}">
                                            <td>
                                                <select class="form-control form-select select_category"
                                                        data-placeholder="Выберите шкалу">
                                                    <option label="--Выберите шкалу--"></option>

                                                    {% for category in categories %}
                                                        <option value="{{ category.id }}"
                                                                {% if filter_category.category.id == category.id %}
                                                                selected
                                                                {% endif %}
                                                        >{{ category.code }} - {{ category.section_name }}
                                                            - {{ category.category_name }}
                                                        </option>
                                                    {% endfor %}

                                                </select>
                                            </td>
                                            <td class="point_from">
                                                <input type="number" min="0" max="10" class="form-control points_from"
                                                       value="{{ filter_category.points_from }}">
                                            </td>
                                            <td>
                                                <input type="number" min="0" max="10" class="form-control points_to"
                                                       value="{{ filter_category.points_to }}">
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">
                                                <div style="float: right">
                                                    <i class="fe fe-x delete-category-row"
                                                       style="font-size: 20px; cursor: pointer"></i>
                                                </div>
                                            </td>

                                        </tr>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        {#                                    <div>#}
                        {#                                        <div class="row" style="padding: 0px 15px 15px">#}
                        {#                                            <div class="col-lg-12 col-sm-12 mt-3">#}
                        {#                                                <button class="btn ripple btn-primary w-100" style="height: 40px" type="button" id="save_study">Сохранить исследование</button>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}

                    </div>
                </div>
            </div>                        <!-- ROW-1 CLOSED -->

            <div class="row" id="description_block">
                <div class="col-xl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header row pt-2 pb-2 justify-content-md-center">
                            <div class="">
                                <table style="width: 100%">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="card-title">Описания баллов</h3>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary my-1" type="button"
                                                    id="add_filter_description"
                                                    style="float: right">Добавить описание
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            {#                                        <div class="col col-lg-6 col-sm-6">#}
                            {#                                        </div>#}
                            {#                                        <div class="col col-lg-6 col-sm-6 text-end">#}
                            {#                                        </div>#}
                        </div>
                        <div class="card-body" id="description_card_body">
                            {% for text in filter_descriptions %}
                                {% include 'individual_report_points_descriptions/panel_description_tr.html' %}
                            {% endfor %}

                        </div>
                        {#                                    <div>#}
                        {#                                        <div class="row" style="padding: 0px 15px 15px">#}
                        {#                                            <div class="col-lg-12 col-sm-12 mt-3">#}
                        {#                                                <button class="btn ripple btn-primary w-100" style="height: 40px" type="button" id="save_study">Сохранить исследование</button>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}

                    </div>
                </div>
            </div>
            <button class="btn ripple btn-primary w-100 mb-4" style="height: 40px" type="button"
                    id="save_edited_individual_report_description_filter">
                Сохранить фильтр
            </button>

        </div>
        <!--CONTAINER CLOSED -->

    </div>


    <!-- ROW-1 CLOSED -->


    <!--CONTAINER CLOSED -->
    <template id="description_tr_template">
        {% include 'individual_report_points_descriptions/panel_description_tr.html' %}
    </template>
    <template id="recommendation_tr_template">
        {% include 'individual_report_points_descriptions/panel_recommendation_tr.html' %}
    </template>


{% endblock %}

{% block script %}

    <script>

        let url_get_company_employees_for_new_study = "{% url 'get_company_employees_for_new_study' %}"
        let url_save_new_individual_report_points_description_filter = "{% url 'save_new_individual_report_points_description_filter' %}"
        let url_save_edited_individual_report_points_description_filter = "{% url 'save_edited_individual_report_points_description_filter' %}"
        {#let url_get_available_squares = "{% url 'get_available_squares' %}"#}
        let categories = {{ categories|safe }};
        let filter_id = {{ filter.id }};
        {#let url_get_company_employees = "{% url 'get_company_employees' %}"#}
        {#let study_id = {{ study.id }};#}
        {#let url_save_participant_questions_groups = "{% url 'save_participant_questions_groups' %}"#}
        {#let url_get_employees_for_study = "{% url 'get_employees_for_study' %}"#}
        {#let url_save_study_participants = "{% url 'save_study_participants' %}"#}
        {#let url_send_invitation_email = "{% url 'send_invitation_email' %}"#}

    </script>
    <script src="{% static 'login/js/select2.js' %}"></script>

    <script src="{% static 'panel/js/individual_report_points_description/panel_edit_individual_report_filter.js' %}?{{ timestamp }}"></script>
{% endblock %}