{% extends 'panel_base.html' %}
{% load static %}
{% load tz %}

{% block links %}
    {#    <link href="{% static 'panel/plugins/datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet" />#}
    {#        <script src="{% static 'panel/plugins/datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>#}


    {#<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">#}
{% endblock %}

<!-- CONTAINER -->
{% block content %}    <!-- ROW-1 -->
    <div class="main-container container-fluid" id="main-container">

    <!-- PAGE-HEADER -->
    <div class="page-header">
        <h1 class="page-title">Анкеты респондентов</h1>
        <div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                {#                        <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>#}
                <li class="breadcrumb-item active" aria-current="page">Анкеты респондентов</li>
            </ol>
        </div>
    </div>
    <!-- PAGE-HEADER END -->

    <!-- ROW-1 -->

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

            <div class="row ">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Параметры для поиска</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="method">Компания</label>
                                    <select class="form-control select2-show-search form-select"
                                            data-placeholder="Выберите компанию" id="select_company">

                                        <option label="" selected value="all">-- Все компании --</option>
                                        {% for company in companies %}
                                            <option id="company_id_{{ company.id }}"
                                                    data-company-active="{{ company.active }}"
                                                    value="{{ company.id }}">{{ company.id }}. {{ company.name }}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                                {#                                <div class="form-group col-lg-6 col-sm-12">#}
                                {#                                    <label for="method">Статус заполнения опросника</label>#}
                                {#                                    <select class="form-control form-select"#}
                                {#                                            data-placeholder="Выберите компанию" id="select_status">#}
                                {#                                        <option value="not_selected" label="">-- Сделайте выбор --</option>#}
                                {#                                        <option value="not_started">Не начали заполнять</option>#}
                                {#                                        <option value="not_finished">Не закончили заполнять</option>#}
                                {#                                    </select>#}
                                {#                                </div>#}
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                            id="start_consultant_forms_search">
                                        Начать поиск
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header row pt-0 pb-0">
                            <div class="col col-lg-4 col-sm-12" style="padding: 1.2rem 1.5rem;">
                                <h3 class="card-title">Результат поиска</h3>
                            </div>
                            {% if cur_userprofile.role.name == 'Суперадмин' %}

                                <div class="col col-lg-8 col-sm-12 text-end">
                                    <div class="row">
                                        <div class="col col-lg-6 text-end">
                                            <div class="row d-none" id="dates_block">
                                                <div class="col col-lg-4">
                                                    <span><h3 style="padding: 10px"
                                                              class="card-title">Период (с - по)</h3></span>
                                                </div>
                                                <div class="col col-lg-4">
                                                    <div class="input-group">
                                                        <input style="margin-right: 10px; display: block; box-shadow: none"
                                                               class="form-control datepicker" placeholder="ДД.ММ.ГГГГ" type="text" id="date_from">
                                                    </div>
                                                </div>
                                                <div class="col col-lg-4">
                                                    <div class="input-group">
                                                        <input  id="date_to" style="display: block; box-shadow: none" class="form-control datepicker" placeholder="ДД.ММ.ГГГГ" type="text">
                                                    </div>
                                                </div>

                                            </div>
                                            {#                                            <div class="input-group">#}
                                            {##}
                                            {#                                            </div>#}

                                        </div>
                                        <div class="col col-lg-6">
                                            <div>
                                                <div style="display: inline-block">
                                                    <select name="country" class="form-control form-select" id="select_group_action_consultant_form" disabled>
                                                        <option value="no_action">-- Выберите действие --</option>
                                                        <option value="send_report_with_consultant_form">Отправить отчет респонденту</option>
                                                        <option value="download_consultant_forms">Скачать анкеты в Ecxel</option>
                                                    </select>
                                                </div>
                                                <div style="display: inline-block">
                                                    <button class="btn btn-primary my-1" type="button"
                                                            id="run_group_action_consultant_forms"
                                                            disabled><i class="fa fa-play button-icon"></i>Выполнить
                                                    </button>
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            {% endif %}

                        </div>


                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-nowrap border-bottom no-footer key-buttons"
                                       id="table_consultant_forms">
                                    <thead>
                                    {#                                                            <tr class="table-header">#}
                                    <tr>
                                        {% if cur_userprofile.role.name == 'Суперадмин' %}
                                            <th class="table-header no-sort">
                                                <input id="select_all_consultant_forms_for_group_action" type="checkbox"
                                                       class="" style="transform: scale(1.1)">
                                            </th>
                                        {% endif %}
                                        <th class="wd-15p border-bottom-0 table-header">ФИО</th>
                                        <th class="wd-15p border-bottom-0 table-header">Email</th>
                                        <th class="wd-15p border-bottom-0 table-header">Компания</th>
                                        <th class="wd-15p border-bottom-0 table-header">Исследование</th>
                                        <th class="wd-15p border-bottom-0 table-header">Кем создана</th>
                                        <th class="wd-15p border-bottom-0 table-header">Когда создана</th>
                                        {% if cur_userprofile.role.name == 'Суперадмин' %}
                                            <th class="wd-15p border-bottom-0 table-header">Отправка отчета</th>
                                        {% endif %}
                                        <th class="wd-15p border-bottom-0 table-header"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_consultant_forms_tbody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}

    <script>

        {#let url_get_company_projects = "{% url 'get_company_projects' %}"#}
        let url_get_consultant_forms = "{% url 'get_consultant_forms' %}"
        let url_delete_consultant_form = "{% url 'delete_consultant_form' %}"
        let url_send_report_to_participant_with_consultant_text = "{% url 'send_report_to_participant_with_consultant_text' %}"
        let url_download_consultant_forms = "{% url 'download_consultant_forms' %}"


    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

    <script src="{% static 'panel/js/consultant_form/panel_edit_consultant_form_list.js' %}?{{ timestamp }}"></script>


{% endblock %}
