<div class="row resource-comment-row">
    <div class="col col-lg-11 col-sm-12" style="padding: 0">
        <textarea class="form-control mb-4 resource-comment"
                  placeholder="Текст комментария..." required=""
                  rows="3">{{ resource_comment.text }}</textarea>
    </div>
    <div class="col col-lg-1 col-sm-12" style="">
        <div style="text-align: center; vertical-align: middle;">
            <div style="float: right"
                 class="delete-resource-comment">
                <i class="fe fe-x" title="Удалить комментарий" style="font-size: 20px; cursor: pointer"></i>
            </div>
        </div>
    </div>
</div>
