<h4>Уважаемый участник,</h4>
<p>
    Напоминаем Вам о заполнении опросника Zetic, изучающего закономерности поведения и ключевые черты характера, влияющие на эффективность в работе.
</p>
<p>
    Вам необходимо заполнить все разделы, которые Вы увидите на экране.
</p>
<p>
    Вы можете заполнять опросник в любом порядке и на любом гаджете. В любой момент Вы можете остановиться и вернуться к заполнению позже. Все ответы будут сохранены.
В среднем на заполнение опросника потребуется порядка 60 минут.
</p>
<p>
    Пройдите по ссылке: <a href="https://zetictest.ru/questionnaire/{{ code_for_participant }}">Ссылка на опросник</a><br>

</p>
<p>
    После завершения опроса Ваши ответы будут обработаны и переведены в отчет.
</p>
<br>
Команда Zetic<br>
    <a>www.zetic.ru</a><br>
    <a href="mailto:info@zetic.ru">info@zetic.ru</a><br>
    +7 495 127 03 89
</p>
