{% extends 'panel_base.html' %}
{% load static %}
{% block content %}

    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Редактирование профиля</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'panel_home' %}">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'users_list' %}">Пользователи</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Редактирование профиля</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Пароль</div>
                        </div>
                        <div class="card-body">
                            <div class="text-center chat-image mb-5">
                                <div class="avatar avatar-xxl chat-profile mb-3 brround">
                                    <img alt="avatar" src="{% static 'images/7.png' %}" class="brround">
                                </div>
                                <div class="">
                                    <h5 class="mb-1 text-dark fw-semibold" id="password_card_fio"
                                        data-id="{{ user_profile.user_id }}">{{ user_profile.fio }}</h5>
                                    <p class="text-muted mt-0 mb-0 pt-0 fs-13"
                                       id="password_card_role">{{ user_profile.role.name }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Новый пароль</label>
                                <div class="wrap-input100 validate-input input-group" id="Password-toggle1">
                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                        <i class="zmdi zmdi-eye text-muted" aria-hidden="true"
                                           id="new_password_hide"></i>
                                    </a>
                                    <input class="input100 form-control" type="password" autocomplete="new-password"
                                           id="new_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">Подтверждение пароля</label>
                                <div class="wrap-input100 validate-input input-group" id="Password-toggle2">
                                    <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                        <i class="zmdi zmdi-eye text-muted" aria-hidden="true"
                                           id="new_password_confirm_hide"></i>
                                    </a>
                                    <input class="input100 form-control" type="password" autocomplete="new-password"
                                           id="new_password_confirm">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button" id="save_password">
                                Сохранить
                            </button>
                        </div>
                    </div>
                    <div class="card panel-theme">
                        <div class="card-header">
                            <div class="float-start">
                                <h3 class="card-title">Контакты</h3>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="card-body no-padding">
                            <ul class="list-group no-margin">
                                <li class="list-group-item d-flex ps-3">
                                    <div class="social social-profile-buttons me-2">
                                        <a class="social-icon text-primary"><i class="fe fe-mail"></i></a>
                                    </div>
                                    <a class="my-auto" id="contacts_email">{{ user_profile.user.email }}</a>
                                </li>
                                <li class="list-group-item d-flex ps-3">
                                    <div class="social social-profile-buttons me-2">
                                        <a class="social-icon text-primary"><i class="fe fe-phone"></i></a>
                                    </div>
                                    <a class="my-auto" id="contacts_tel">{{ user_profile.tel }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Данные пользователя</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="input_fio">ФИО</label>
                                        <input type="text" class="form-control" id="input_fio"
                                               {% if user_profile %}value="{{ user_profile.fio }}"{% endif %}>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="input_email">Email</label>
                                <input type="email" class="form-control" id="input_email"{% if user_profile %}
                                       value="{{ user_profile.user.email }}"{% endif %}>
                            </div>
                            <div class="form-group">
                                <label for="input_tel">Телефон</label>
                                <input class="form-control" id="input_tel"
                                       {% if user_profile %}value="{{ user_profile.tel }}"{% endif %}>
                            </div>
                            <div class="form-group">
                                <label for="input_tel">Роль</label>
                                <select name="user_role" class="form-control form-select" id="user_role">
                                    {% for role in roles %}
                                        <option value="role_id_{{ role.id }}" {% if role == user_profile.role %}
                                                selected{% endif %}>{{ role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>


                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button" id="save_info">Сохранить
                            </button>
                        </div>
                    </div>
                    {% if user_profile.user_id != user.id %}
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">Удалить пользователя</div>
                            </div>
                            <div class="card-body">
                                <p>Все данные пользователя будут удалены. Результаты его работы удалены НЕ будут</p>
                            </div>
                            <div class="card-footer text-end">
                                <button class="btn btn-danger my-1 nav-buttons" type="button" id="delete_user">Удалить
                                </button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-xl-4 col-sm-12">
                </div>
                <div class="col-xl-8 col-sm-12">
                    <div class="card">
                        <div class="card-header row pt-2 pb-2 justify-content-md-center">
                            <div class="col col-lg-8 col-sm-12">
                                <h3 class="card-title">Компании пользователя</h3>
                            </div>
                            <div class="col col-lg-4 col-sm-12 text-end">
                                <button class="btn btn-primary my-1" type="button" id="add_user_company">Добавить
                                    компанию
                                </button>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-nowrap border-bottom team-table dataTable no-footer"
                                       id="table_user_companies">
                                    <thead class="thead-style">
                                    <tr>
                                        <th class="wd-15p border-bottom-0 table-header">Компания</th>
                                        <th class="wd-15p border-bottom-0 table-header">Происхождение</th>
                                        <th class="wd-15p border-bottom-0"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_user_companies">
                                    {% for company in user_companies %}
                                        <tr class="">
                                            <td>{{ company.name }}</td>
                                            <td>Создана пользователем</td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                    {% for company in companies_set_by_admin %}
                                        <tr data-company-id="{{ company.id }}" class="">
                                            <td>{{ company.name }}</td>
                                            <td>Добавлена админом</td>
                                            <td class="delete-user-company" style="float: right"><i class="fe fe-trash-2 cursor-pointer" title="Удалить"></i></td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ROW-1 CLOSED -->

        </div>
        <!--CONTAINER CLOSED -->

    </div>

    <!-- Модальное окно добавление компании -->
    <div class="modal fade" id="input_modal_add_user_company">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header modal-header-style">
                    <h6 class="modal-title">Добавление компании</h6>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 form-group">
{#                            <label for="input_position_ru_name" class="col-form-label">Выберите сотрудника</label>#}
                            <select class="form-control select2-show-search form-select w-100"
                                data-placeholder="Выберите компанию" id="select_company">

                                <option value=""></option>
                                {% for company in available_companies %}
                                    <option value="{{ company.id }}">{{ company.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="modal_add_user_company_btn" disabled>Добавить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}
    <script>
        let url_save_user_pwd = "{% url 'save_user_pwd' %}";
        let url_save_user_profile = "{% url 'save_user_profile' %}";
        let user_id = {{ user_profile.user.id }};
        let cur_user_id = {{ user.id }};
        let url_delete_user = "{% url 'delete_user' %}";
        let url_add_user_company = "{% url 'add_user_company' %}";
        let url_delete_user_company = "{% url 'delete_user_company' %}";
        {#let url_users_list = "{% url 'users_list' %}"#}


    </script>
    <script src="{% static 'login/js/select2.js' %}"></script>
    <script src="{% static 'panel/js/panel_user_profile.js' %}?{{ timestamp }}"></script>

{% endblock %}