{% extends 'panel_base.html' %}
{% load static %}
{% block links %}
    <link href="{% static 'panel/plugins/circle_progress_bar/css/circle.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Создание исследования</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Создание исследования</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Параметры исследования</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <form>
                                        <div class="mb-3">
                                            <label for="input_study_name" class="col-form-label"><h5>Название
                                                исследования</h5></label>
                                            <input type="text" class="form-control" id="input_study_name">
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <label for="select_company"><h5>Компания</h5></label>
                                    <select class="form-control select2-show-search form-select"
                                            data-placeholder="Выберите компанию" id="select_company">

                                        <option label="Choose one"></option>
                                        {% for company in companies %}
                                            <option id="company_id_{{ company.id }}"
                                                    data-company-active="{{ company.active }}"
                                                    value="{{ company.id }}">{{ company.id }}. {{ company.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <label for="select_company"><h5>Шаблон</h5></label>
                                    <select class="form-control select2-show-search form-select"
                                            data-placeholder="Выберите шаблон" id="select_template"
                                            {% if user_role == 'Партнер' %} disabled {% endif %}>
                                        <option label="Choose one"></option>
                                        {% for template in research_templates %}
                                            <option value="{{ template.id }}" {% if user_role == 'Партнер' %}
                                                    selected {% endif %}>{{ template.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="company_active"{% if study.company.active %}
                                               checked="checked"{% endif %} disabled>
                                        <label class="form-check-label" for="company_active">Компания активна</label>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Опции индивидуальных отчетов</h3>
                        </div>
                        <div class="card-body">
                            {% for option in individual_report_allowed_options %}
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-switch">
                                            <input class="form-check-input option-switch" type="checkbox" role="switch"

                                                   data-option-id="{{ option.id }}" data-type="individual">
                                            <label class="form-check-label"
                                                   for="company_active">{{ option.name }}</label>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-xl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header row pt-2 pb-2 justify-content-md-center">
                            <div class="">
                                <table style="width: 100%">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="card-title">Участники</h3>
                                        </td>
                                        <td>
                                            <button class="btn btn-primary my-1" type="button" id="add_participants"
                                                    style="float: right">Добавить участников
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            {#                                        <div class="col col-lg-6 col-sm-6">#}
                            {#                                        </div>#}
                            {#                                        <div class="col col-lg-6 col-sm-6 text-end">#}
                            {#                                        </div>#}
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-nowrap border-bottom team-table dataTable no-footer"
                                       id="table_participants_for_study">
                                    <thead class="thead-style">
                                    <tr>
                                        <th>Имя/псевдоним</th>
                                        <th>Email</th>
                                        <th>Индустрия</th>
                                        <th>Роль</th>
                                        <th>Должность</th>
                                        <th>Год рождения</th>
                                        <th>Пол</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_participants_selected">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div>
                            <div class="row" style="padding: 0px 15px 15px">
                                <div class="col-lg-12 col-sm-12 mt-3">
                                    <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                            id="save_study">Сохранить исследование
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>                        <!-- ROW-1 CLOSED -->


        </div>
        <!--CONTAINER CLOSED -->

    </div>

    <!-- Модальное окно добавление группы вопросов -->
    <div class="modal fade" id="modal_question_groups">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header" style="background-color: #dbdbdb">
                    <h5 class="modal-title">Группа вопросов</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table text-wrap mb-0">
                            <thead>
                            <tr>
                                <th>Наименование</th>
                                <th>
                                    <div class="form-switch text-end">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="select_all_question_groups">
                                        <label class="form-check-label" for="select_all_question_groups"></label>
                                    </div>

                                </th>
                            </tr>
                            </thead>
                            <tbody id="tbody_modal_questions_groups">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="save_question_groups">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно добавление участника -->
    <div class="modal fade" id="modal_participants">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header" style="background-color: #dbdbdb">
                    <h5 class="modal-title"><b>Сотрудники</b></h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>


                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-nowrap border-bottom team-table dataTable no-footer"
                               id="modal_add_participant">
                            <thead class="thead-style">
                            <tr>
                                <th><input id="check_all_employees_for_study" type="checkbox" class=""
                                           name="example-checkbox1" value="option1" style="transform: scale(1.1)"></th>
                                <th>Имя/псевдоним</th>
                                <th>Email</th>
                                <th>Индустрия</th>
                                <th>Роль</th>
                                <th>Должность</th>
                                <th>Год рождения</th>
                                <th>Пол</th>
                            </tr>
                            </thead>
                            <tbody id="tbody_participants_to_choose">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row" style="padding: 0px 15px 15px">
                    <div class="col-lg-12 col-sm-12 mt-3">
                        <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                id="add_participants_to_study">Добавить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Модальное окно отправки приглашения -->
    <div class="modal fade" id="modal_before_send_invitation">
        <div class="modal-dialog " role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header" style="background-color: #dbdbdb">
                    <h5 class="modal-title">Отправка приглашения участнику</h5>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Участник</b>
                        </div>
                        <div class="col-lg-9" id="modal_participant_name" data-tr-id="">


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <b>Email</b>
                        </div>

                        <div class="col-lg-9" id="modal_participant_email" data-email="">


                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12">
                            <div class="form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="send_admin_notification_after_filling_up">
                                <label class="form-check-label" for="send_admin_notification_after_filling_up">Отправить
                                    уведомление админу после заполнения</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="modal_send_invitation_btn">Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script>

        let url_get_company_employees_for_new_study = "{% url 'get_company_employees_for_new_study' %}"
        let url_add_new_study = "{% url 'add_new_study' %}"
        let url_get_company_options_allowed = "{% url 'get_company_options_allowed' %}"
        {#let url_get_company_employees = "{% url 'get_company_employees' %}"#}
        {#let study_id = {{ study.id }};#}
        {#let url_save_participant_questions_groups = "{% url 'save_participant_questions_groups' %}"#}
        {#let url_get_employees_for_study = "{% url 'get_employees_for_study' %}"#}
        {#let url_save_study_participants = "{% url 'save_study_participants' %}"#}
        {#let url_send_invitation_email = "{% url 'send_invitation_email' %}"#}

    </script>
    <script src="{% static 'login/js/select2.js' %}"></script>

    <script src="{% static 'panel/js/panel_add_study.js' %}"></script>
{% endblock %}