{% extends 'panel_base.html' %}
{% load static %}
{% block content %}

    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Редактирование компании</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Редактирование Компании</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Данные компании</h3>
                        </div>
                        <div class="card-body">
                            {#                                        <div class="text-center chat-image mb-5">#}
                            {#                                            <div class="avatar avatar-xxl chat-profile mb-3 brround">#}
                            {#                                                <img alt="avatar" src="{% static 'images/company_avatar.png' %}" class="brround">#}
                            {#                                            </div>#}
                            {#                                        </div>#}

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label for="input_fio">Название</label>
                                        <input type="text" class="form-control" id="input_company_name"
                                               value="{{ company.name }}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="company_active" {% if company.active %}checked="checked"{% endif %}>
                                        <label class="form-check-label" for="company_active">Компания активна</label>
                                    </div>

                                </div>
                            </div>
                            {% if cur_userprofile.role.name == 'Суперадмин' %}
                                <hr style="border-top: 1px solid #646464;">

                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                   id="company_demo_status"
                                                   {% if company.demo_status %}checked="checked"{% endif %}>
                                            <label class="form-check-label" for="company_demo_status">Демо
                                                статус</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group mt-4">
                                    <label for="company_demo_status_limit">Ограничение по кол-ву опросников в
                                        Демо-режиме</label>
                                    <input type="number" class="form-control" id="company_demo_status_limit"
                                           value="{{ company.demo_status_questionnaires_limit }}">
                                </div>


                            {% endif %}


                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button" id="update_company">Сохранить
                            </button>
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Удаление компании</h3>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <p class="text-danger">Внимание!</p>
                                <span>При удалении компании также будут удалены все связанные данные: сотрудники,
                                    опросники, участники опросов, данные анкет
                                </span>

                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-danger my-1 nav-buttons" type="button" id="delete_company">Удалить
                                компанию
                            </button>
                        </div>
                    </div>
                </div>


                <!-- ROW-1 CLOSED -->

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Администраторы</h3>
                        </div>
                        <div class="card-body">
                            {#                                        <div class="text-center chat-image mb-5">#}
                            {#                                            <div class="avatar avatar-xxl chat-profile mb-3 brround">#}
                            {#                                                <img alt="avatar" src="{% static 'images/company_avatar.png' %}" class="brround">#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            <div style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table text-nowrap text-md-nowrap mb-0">
                                    <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Email</th>
                                        <th>Активен</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_company_admins">
                                    {% if admins %}
                                        {% for admin in admins %}
                                            <tr id="employee_id_{{ admin.id }}">

                                                <td>{{ admin.name }}</td>
                                                <td>{{ admin.email }}</td>
                                                <td>
                                                    {% if admin.company_admin_active %}
                                                        <span class="dot-label bg-success" title="Админ активен"></span>
                                                    {% else %}
                                                        <span class="dot-label bg-danger"
                                                              title="Админ деактивирован"></span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <div style="text-align: center;">
                                                        <i class="fe fe-more-vertical cursor-pointer"
                                                           data-bs-toggle="dropdown" aria-expanded="false"
                                                           style="font-size: 20px"></i>
                                                        <ul class="dropdown-menu" id="employee_id_{{ admin.id }}">
                                                            <li>
                                                                <a class="dropdown-item deactivate-company-admin cursor-pointer">
                                                                    {% if admin.company_admin_active %}
                                                                        Деактивировать
                                                                    {% else %}
                                                                        Активировать
                                                                    {% endif %}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item delete-company-admin cursor-pointer">Удалить</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="no-data-text" colspan="4">
                                                Админы не назначены
                                            </td>
                                        </tr>


                                    {% endif %}

                                    </tbody>


                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button" id="add_admin">Назначить
                            </button>
                        </div>

                    </div>
                </div>


            </div>
            <div class="row">


                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Ссылки для самостоятельного создания опросника</h3>
                        </div>
                        <div class="card-body">
                            <div style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table text-nowrap text-md-nowrap mb-0">
                                    <thead>
                                    <tr>
                                        <th>Ссылка</th>
                                        <th>Шаблон</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_self_questionnaire_link">
                                    {% if links %}
                                        {% for link in links %}
                                            <tr data-link-id="{{ link.id }}">
                                                {#                                                <td><input type="text" class="form-control" value="{% url 'company_questionnaire' link.code %}" disabled/></td>#}
                                                <td>
                                                    <div class="input-group">
                                                        <a type="text" class="form-control" style="padding: 5px 10px"
                                                           href="{% url 'company_questionnaire' link.code %}">Ссылка</a>
                                                        <span style="cursor: pointer" title="Скопировать ссылку"
                                                              class="input-group-text copy-company-questionnaire-link"><i
                                                                style="font-size: 12px"
                                                                class="fe fe-copy" data-bs-toggle="tooltip" title=""
                                                                data-bs-original-title="Скопировать ссылку"
                                                                aria-label="fe fe-copy"></i></span>
                                                    </div>


                                                    {#                                                    <a type="text" class="form-control"#}
                                                    {#                                                       href="{% url 'company_questionnaire' link.code %}">Ссылка</a>#}
                                                </td>
                                                <td style="vertical-align: middle">{{ link.research_template.name }}</td>
                                                <td>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="no-data-text" colspan="4">
                                                Ссылки отсутствуют
                                            </td>
                                        </tr>


                                    {% endif %}

                                    </tbody>


                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button" id="select_link_template_btn"
                                    {% if not templates %}
                                    disabled
                                    {% endif %}
                            >Добавить шаблон
                            </button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Получатели уведомления о заполении опросника</h3>
                        </div>
                        <div class="card-body">
                            <div style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table text-nowrap text-md-nowrap mb-0">
                                    <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Email</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_company_admins">
                                    {% if report_made_notification_receivers %}
                                        {% for receiver in report_made_notification_receivers %}
                                            <tr data-receiver-id="{{ receiver.id }}">

                                                <td>{{ receiver.employee.name }}</td>
                                                <td>{{ receiver.employee.email }}</td>
                                                <td>
                                                    <div style="text-align: center;">
                                                        {#                                                        <i class="fe fe-more-vertical cursor-pointer"#}
                                                        {#                                                           data-bs-toggle="dropdown" aria-expanded="false"#}
                                                        {#                                                           style="font-size: 20px"></i>#}
                                                        <i style="cursor: pointer; font-size: 17px"
                                                           class="fe fe-trash-2 delete-notification-receiver"
                                                           data-bs-toggle="tooltip" title=""
                                                           data-bs-original-title="Удалить"
                                                           aria-label="fe fe-trash-2"></i>
                                                    </div>
                                                </td>

                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="no-data-text" colspan="3">
                                                Получатели отсутствуют
                                            </td>
                                        </tr>


                                    {% endif %}

                                    </tbody>


                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button"
                                    id="add_report_made_notification_receiver">Добавить
                            </button>
                        </div>

                    </div>
                </div>
                <!-- ROW-1 CLOSED -->

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Консультанты</h3>
                        </div>
                        <div class="card-body">
                            <div style="display: block; overflow-x: auto; white-space: nowrap;">
                                <table class="table text-nowrap text-md-nowrap mb-0">
                                    <thead>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Email</th>
                                        <th>Исследования</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="tbody_company_admins">
                                    {% if consultants %}
                                        {% for consultant in consultants %}
                                            <tr data-user-id="{{ consultant.user.id }}"
                                                data-consultant-company-id="{{ consultant.id }}">

                                                <td>{{ consultant.user.first_name }}</td>
                                                <td>{{ consultant.user.email }}</td>
                                                <td>
                                                    {% for consultant_study in consultants_studies %}
                                                        {% if consultant_study.consultant_company == consultant %}
                                                            <div class="form-group" style="margin-bottom: 5px">
                                                                <div class="input-group">
                                                                    <input type="text" class="form-control"
                                                                           placeholder=""
                                                                           aria-label="Example text with button addon"
                                                                           aria-describedby="button-addon1"
                                                                           value="{{ consultant_study.study.id }}. {{ consultant_study.study.name }}" disabled>
                                                                    <button class="btn btn-light delete-consultant-study" data-consultant-study-id="{{ consultant_study.id }}" type="button"
                                                                            id=""><i
                                                                        class="fa fa-trash-o"
                                                                        style="transform: scale(1.1);" title="Удалить исследование"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}

                                                </td>
                                                <td>

                                                    <div style="text-align: center;">
                                                        <i class="fe fe-more-vertical cursor-pointer"
                                                           data-bs-toggle="dropdown" aria-expanded="false"
                                                           style="font-size: 20px"></i>
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a class="dropdown-item add-consultant-study cursor-pointer"><i
                                                                        class="fa fa-plus"
                                                                        style="transform: scale(1.1); margin-right: 10px; margin-bottom: 2px"></i>Добавить
                                                                    исследование</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item delete-consultant cursor-pointer"
                                                                   style=" color: red"><i
                                                                        class="fa fa-trash-o"
                                                                        style="transform: scale(1.1); margin-right: 10px; margin-bottom: 2px;"></i>Удалить
                                                                    консультанта</a>
                                                            </li>
                                                        </ul>
                                                    </div>


                                                </td>

                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="no-data-text" colspan="4">
                                                Консульнты отсутствуют
                                            </td>
                                        </tr>


                                    {% endif %}

                                    </tbody>


                                </table>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button class="btn btn-primary my-1 nav-buttons" type="button"
                                    id="add_consultant">Добавить
                            </button>
                        </div>

                    </div>
                </div>
                <!-- ROW-1 CLOSED -->

            </div>


        </div>

        <!--CONTAINER CLOSED -->

    </div>
    </div>
    <!-- Модальное окно добавление админа -->
    <div class="modal fade" id="input_modal_add_admin">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header modal-header-style">
                    <h6 class="modal-title">Добавление админа</h6>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="input_position_ru_name" class="col-form-label">Выберите сотрудника</label>
                            <select name="user_role" class="form-control form-select" id="company_admin_select">
                                <option></option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Новый пароль</label>
                            <div class="wrap-input100 validate-input input-group" id="Password-toggle1">
                                <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                    <i class="zmdi zmdi-eye text-muted" aria-hidden="true" id="new_password_hide"></i>
                                </a>
                                <input class="input100 form-control" type="password" autocomplete="new-password"
                                       id="new_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">Подтверждение пароля</label>
                            <div class="wrap-input100 validate-input input-group" id="Password-toggle2">
                                <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                    <i class="zmdi zmdi-eye text-muted" aria-hidden="true"
                                       id="new_password_confirm_hide"></i>
                                </a>
                                <input class="input100 form-control" type="password" autocomplete="new-password"
                                       id="new_password_confirm">
                            </div>
                        </div>

                    </form>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="appoint_company_admin">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно добавление получателя уведомления -->
    <div class="modal fade" id="input_modal_report_made_notification_receiver">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header modal-header-style">
                    <h6 class="modal-title">Добавление получателя</h6>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 form-group">
                            <label for="input_position_ru_name" class="col-form-label">Выберите сотрудника</label>
                            <select class="form-control form-select"
                                    id="company_report_made_notification_receiver_select">
                                <option value="0">-- Сделайте выбор --</option>
                                {% for employee in employees_available_report_made_notification_receivers %}
                                    <option value="{{ employee.id }}">{{ employee.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="save_report_made_notification_receiver_btn">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно добавление консультанта -->
    <div class="modal fade" id="input_modal_consultants">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header modal-header-style">
                    <h6 class="modal-title">Добавление консультанта</h6>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 form-group">
                            <label for="" class="col-form-label">Выберите консультанта</label>
                            <select class="form-control form-select"
                                    id="consultant_select">
                                <option value="0">-- Сделайте выбор --</option>

                            </select>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="save_consultant_for_company_btn">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно добавление исследования консультанту -->
    <div class="modal fade" id="input_modal_consultant_study">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header modal-header-style">
                    <h6 class="modal-title">Добавление ислледования</h6>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3 form-group">
                            <label for="" class="col-form-label">Выберите исследование</label>
                            <select class="form-control form-select" data-consultant-company-id=""
                                    id="consultant_study_select">
                                <option value="0">-- Сделайте выбор --</option>

                            </select>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="save_consultant_study_for_company_btn">Сохранить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Модальное окно добавления ссылки -->
    <div class="modal fade" id="input_modal_select_link_template">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header modal-header-style">
                    <h6 class="modal-title">Выбор шаблона</h6>
                    <button class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="select_template" class="col-form-label">Шаблон</label>
                            <select name="select_template" class="form-control form-select" id="select_template">
                                <option value="0">-- Сдлайте выбор --</option>
                                {% for template in templates %}
                                    <option value="{{ template.id }}">{{ template.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
                <div>
                    <div class="row" style="padding: 0px 15px 15px">
                        <div class="col-lg-12 col-sm-12 mt-3">
                            <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                    id="generate_link">Создать ссылку
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}

    <script>

        let url_get_company_no_admins = "{% url 'get_company_no_admins' %}"
        let url_appoint_company_admin = "{% url 'appoint_company_admin' %}"
        let url_deactivate_company_admin = "{% url 'deactivate_company_admin' %}"
        let url_delete_company_admin = "{% url 'delete_company_admin' %}"
        let url_delete_company = "{% url 'delete_company' %}"
        let url_update_company = "{% url 'update_company' %}"
        let url_generate_new_self_questionnaire_link = "{% url 'generate_new_self_questionnaire_link' %}"
        let url_add_report_made_notification_receiver = "{% url 'add_report_made_notification_receiver' %}"
        let url_delete_report_made_notification_receiver = "{% url 'delete_report_made_notification_receiver' %}"
        let url_get_available_consultants = "{% url 'get_available_consultants' %}"
        let url_add_consultant_for_company = "{% url 'add_consultant_for_company' %}"
        let url_delete_consultant_fromm_company = "{% url 'delete_consultant_fromm_company' %}"
        let url_get_available_consultant_company_studies = "{% url 'get_available_consultant_company_studies' %}"
        let url_add_consultant_study_for_company = "{% url 'add_consultant_study_for_company' %}"
        let url_delete_consultant_study_from_company = "{% url 'delete_consultant_study_from_company' %}"
        let active;
        let company_id = {{ company.id }};
        let location_origin = window.location.origin

        {% if company.active %}
            active = 1
        {% else %}
            active = 0
        {% endif %}


    </script>
    <script src="{% static 'login/js/select2.js' %}"></script>
    <script src="{% static 'panel/js/panel_edit_company.js' %}"></script>
{% endblock %}