{% extends 'panel_base.html' %}
{% load static %}
    {% block content %}
        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Статистика</h1>
                <div>
                    <ol class="breadcrumb">
{#                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>#}
{#                        <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>#}
                        <li class="breadcrumb-item active" aria-current="page">Home</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            {% if cur_userprofile.role.name == 'Админ заказчика' %}
            <!-- ROW-1 -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Сотрудники</h6>
                                            <h2 class="mb-0 number-font">{{ stats.employees_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-users stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Индивидульные отчеты</h6>
                                            <h2 class="mb-0 number-font">{{ stats.individual_reports_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-file-text stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Групповые отчеты</h6>
                                            <h2 class="mb-0 number-font">{{ stats.group_reports_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-file-text stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <!-- ROW-1 END -->

            {% endif %}
            {% if cur_userprofile.role.name == 'Админ' or cur_userprofile.role.name == 'Суперадмин' or cur_userprofile.role.name == 'Админ' or cur_userprofile.role.name == 'Менеджер' %}
            <!-- ROW-1 -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Компании</h6>
                                            <h2 class="mb-0 number-font">{{ stats.companies_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-briefcase stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Сотрудники</h6>
                                            <h2 class="mb-0 number-font">{{ stats.employees_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-users stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Индивидульные отчеты</h6>
                                            <h2 class="mb-0 number-font">{{ stats.individual_reports_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-file-text stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3">
                            <div class="card overflow-hidden">
                                <div class="card-body">
                                    <div class="d-flex">
                                        <div class="mt-2">
                                            <h6 class="">Групповые отчеты</h6>
                                            <h2 class="mb-0 number-font">{{ stats.group_reports_qnt }}</h2>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="chart-wrapper mt-1">
                                                <i class="side-menu__icon fe fe-file-text stats-icons"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <!-- ROW-1 END -->

            {% endif %}

           <!-- ROW-4 END -->
           <!-- ROW-4 END -->
        </div>
        <!-- CONTAINER END -->
    {% endblock %}

{% block script %}
<script>




</script>
{% endblock %}
