{% extends 'panel_base.html' %}
{% load static %}
    {% block content %}

        <!-- CONTAINER -->
        <div class="main-container container-fluid" id="main-container">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Пользователи</h1>
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
{#                        <li class="breadcrumb-item active" aria-current="page">Dashboard 01</li>#}
                        <li class="breadcrumb-item active" aria-current="page">Пользователи</li>
                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

                    <div class="row ">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div id="wizard1" role="application" class="wizard clearfix">
                                            <div class="content clearfix">
{#                                                <h3 id="wizard1-h-0" tabindex="-1" class="title current">Выбор проекта</h3>#}
                                                <section id="wizard1-p-0" role="tabpanel" aria-labelledby="wizard1-h-0" class="body current" aria-hidden="false">

                                                    <div class="table-responsive">
                                                                <table class="table table-bordered text-nowrap border-bottom list-table dataTable no-footer" id="">
                                                                    <thead>
            {#                                                            <tr class="table-header">#}
                                                                        <tr>
                                                                            <th class="wd-15p border-bottom-0 table-header">ФИО</th>
                                                                            <th class="wd-15p border-bottom-0 table-header">email</th>
                                                                            <th class="wd-15p border-bottom-0 table-header">Роль</th>
                                                                            <th class="wd-15p border-bottom-0 table-header"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="wizard1-tbody-1">
                                                                    {% for user_profile in user_profiles %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ user_profile.fio }}
                                                                            </td>
                                                                            <td>
                                                                                {{ user_profile.user.email }}
                                                                            </td>
                                                                            <td>
                                                                                {{ user_profile.role.name }}
                                                                            </td>

                                                                            <td>
                                                                                <div style="text-align: center;">
                                                                                <i class="fe fe-more-vertical cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px"></i>
                                                                                <ul class="dropdown-menu">
                                                                                    <li><a class="dropdown-item" href="user_profile/{{ user_profile.user.id }}">Изменить</a></li>
                                                                                </ul>
                                                                            </div>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                    </div>

                                                </section>

{#                                                <h3 id="wizard1-h-1" tabindex="-1" class="title">Выбор членов команды</h3>#}
                                                <section id="wizard1-p-1" role="tabpanel" aria-labelledby="wizard1-h-1" class="body" aria-hidden="true" style="display: none;">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered text-nowrap border-bottom list-table dataTable no-footer" id="">
                                                                    <thead>
            {#                                                            <tr class="table-header">#}
                                                                        <tr>
                                                                            <th class="wd-15p border-bottom-0 table-header">ФИО</th>
                                                                            <th class="wd-15p border-bottom-0 table-header">email</th>
                                                                            <th class="wd-15p border-bottom-0 table-header">Роль</th>
                                                                            <th class="wd-15p border-bottom-0 table-header"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="wizard1-tbody-1">
                                                                    {% for user_profile in user_profiles %}
                                                                        <tr>
                                                                            <td>
                                                                                {{ user_profile.fio }}
                                                                            </td>
                                                                            <td>
                                                                                {{ user_profile.user.email }}
                                                                            </td>
                                                                            <td>
                                                                                {{ user_profile.role.name }}
                                                                            </td>

                                                                            <td>
                                                                                <div style="text-align: center;">
                                                                                <i class="fe fe-more-vertical cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px"></i>
                                                                                <ul class="dropdown-menu">
                                                                                    <li><a class="dropdown-item" href="download_group_report/' + data_json[i]['file_name'] + '">Изменить</a></li>
                                                                                </ul>
                                                                            </div>
                                                                            </td>
                                                                        </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </section>

                                            </div>

{#                                        </div>#}
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary float-button" id="add_user"><i class="fe fe-plus"></i></button>
    {% endblock %}

{% block script %}

    <script src="{% static 'login/js/select2.js' %}"></script>
{#    <script src="{% static 'login/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>#}
<script>

    $('#add_user').on('click', function (){
        window.location.href = url_add_user
    })

    function route_menu_handler(route_index, btn_type) {
        let new_menu_number = 0
        if(btn_type === 'next'){
            new_menu_number = route_index + 1
        }else {
            new_menu_number = route_index - 1
        }
        console.log('new_menu_number - ' + new_menu_number)
        if (new_menu_number <= 4){
            $('.route-item').each(function (i, obj) {
                if(parseInt($(this).find('.number').html()) !== new_menu_number){
                    $(this).addClass('disabled')
                    $(this).removeClass('current')

                }else {
                    $(this).removeClass('disabled')
                    $(this).addClass('current')
                }
            })
            if(new_menu_number === 3){
                {#$('#next').addClass('disabled')#}
                {#$('#next').removeClass('cursor-pointer')#}
            }else {
                $('#next').removeClass('disabled')
                $('#next').addClass('cursor-pointer')

            }

        }else {
            toastr.info('Конец')

        }
    }


    function route_handler(route_index) {
    console.log('project - ' + $('.project-chosen').text().trim())
    {#console.log(route_index)#}
        console.log('route_index - ' + route_index)
        btn_spinner($('#next'))
        switch (route_index) {
            case 1:
                project_name = $('.project-chosen').text().trim()
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: "{% url 'get_individual_reports_list' %}",
                    type: 'POST',

                    data: JSON.stringify({
                                'project': $('.project-chosen').text().trim(),
                            }),
                    processData: false,
                    contentType: false,
                    error: function(data){
                        toastr.error('Ошибка', data)
                    },
                    success:function (data) {
                        console.log(data)
                        {#let data_json = $.parseJSON(data);#}
                        let data_json = data['data'];
                        let html = ''
                        for(let i=0; i < data_json.length; i++){
                            html += '<tr class="">'
                            html += '<td>' + data_json[i]['name'] + '</td>'
                            html += '<td>' + data_json[i]['date'] + '</td>'
                            html += '<td>' + data_json[i]['project'] + '</td>'
                            html += '<td>'
                            html += '<div style="text-align: center;">'
                            html += '<i class="fe fe-more-vertical cursor-pointer" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 20px"></i>'
                            html += '<ul class="dropdown-menu">'
                            html += '<li><a class="dropdown-item" href="download_single_report/' + data_json[i]['file_name'] + '">Скачать</a></li>'
                            html += '</ul>'
                            html += '</div>'

                            html += '</td>'

                            html += '</tr>'
                        }
                        {#console.log(html)#}
                        $('#wizard1-tbody-1').html(html)
                        {#console.log('wizard1-tbody-1 - ' + $('#wizard1-tbody-1').html())#}
                        process_table('.team-table')
                        btn_text($('#next'), 'Вперед')

                        route_menu_handler(route_index, 'next')

                        $('#wizard1-h-1').css('display', 'block')
                        $('#wizard1-p-1').css('display', 'block')
                        $('#wizard1-h-0').css('display', 'none')
                        $('#wizard1-p-0').css('display', 'none')
                        $('#next').addClass('disabled')

                    }
                });

                break;
            default:
                break;
            }

    }
    let enabled_route_number = 0
    // выбор проекта
    $('#menu_users_list').closest('.slide').addClass('is-expanded')

    $('#menu_users_list').addClass('active')
    $(".table-row").on('click', function (e) {
        $(".table-row").css('background-color', '').css('color', '').removeClass('project-chosen')
        $(this).css('background-color', '#6c5ffc').css('color', 'white').addClass('project-chosen')
        $('#next').removeClass('disabled')
    })

    $('#next').on('click', function () {
        if ($(this).hasClass('disabled')){
            if(enabled_route_number === 1){
                toastr.error('Выберите проект')
            }
        }else {
            {#$(this).find('a').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 25px;height: 25px;"></span>')#}
            $('.route-item').each(function (i, obj) {
                if(!$(this).hasClass('disabled')){
                    enabled_route_number = parseInt($(this).find('.number').html())

                }
                    {#route_menu_handler($(this).find('.number').html())#}

            })
            $('#previous').removeClass('disabled')
            route_handler(enabled_route_number)

        }

    })
    $('#previous').on('click', function () {
        $('.route-item').each(function (i, obj) {
            if(!$(this).hasClass('disabled')){
                enabled_route_number = parseInt($(this).find('.number').html())

            }
                {#route_menu_handler($(this).find('.number').html())#}

        })
        switch (enabled_route_number){
            case 2:
                {#$('#wizard1-tbody-1').html('')#}
                {#process_table('.team-table')#}
                $('.team-table').DataTable().clear().destroy()
                $('#wizard1-h-1').css('display', 'none')
                $('#wizard1-p-1').css('display', 'none')
                $('#wizard1-h-0').css('display', 'block')
                $('#wizard1-p-0').css('display', 'block')
                $(this).addClass('disabled')
                break;
            case 3:
                {#$('#wizard1-tbody-1').html('')#}
                {#process_table('.team-table')#}
                $('.undistributed-table').DataTable().clear().destroy()
                $('#wizard1-h-1').css('display', 'block')
                $('#wizard1-p-1').css('display', 'block')
                $('#wizard1-h-2').css('display', 'none')
                $('#wizard1-p-2').css('display', 'none')
                $('.list-group-item').each(function () {
                    $(this).remove()
                })
                $('#next').removeClass('disabled').text('Вперед')
                break;
            default:
                break;
        }
        route_menu_handler(enabled_route_number, 'previous')

    })

    function btn_spinner(element){
        $(element).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="width: 25px;height: 25px"></span>').addClass('disabled')
        }
    function btn_text(element, text) {
        $(element).html(text).removeClass('disabled')
    }
    let table = ''
    function process_table(element){
        $(element).DataTable().destroy()
       $(element).DataTable({
           "searching": true,
          "destroy": true,
          "paging": true,
          "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Russian.json"
          },
          "initComplete": function () {

          },
        })
    }


</script>
{% endblock %}