<div class="panel-group1 condition-group" id="group_1" data-parent-group-id="" data-level="0">
    <div class="panel panel-default mb-4">
        <div class="panel-heading1">
            <div class="panel-title1">
                <div class="" style=" display: table-cell; padding-left: 10px;">
                    <select class="accord-select group-type">
                        <option value="and">И</option>
                        <option value="or">ИЛИ</option>
                    </select>
                </div>
                <div class="" style=" display: table-cell; padding-left: 10px;">
                    <i class="fe fe-x delete-group"
                       style="font-size: 18px; cursor: pointer; vertical-align: text-bottom;"
                       title="Удалить группу"></i>
                </div>
                <div class="" style=" display: table-cell; padding-left: 10px;">
                    <i class="fe fe-plus add-item"
                       style="font-size: 18px; cursor: pointer; vertical-align: text-bottom;"
                       title="Добавить элемент"></i>
                </div>

                <div class="" style="display: table-cell; width: 100%;">
                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse"
                       data-bs-parent="#accordion" href="#group_1_content"
                       aria-expanded="false">Группа </a>

                </div>

            </div>

        </div>
        <div id="group_1_content" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
            <div class="panel-body group-content-body" style="padding-right: 0">

            </div>
        </div>
    </div>
</div>
                        
