{% load static %}
<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ZETIC - практическая психолгия">
    <meta name="author" content="ZETIC">
    <meta name="keywords"
          content="">

    <!-- FAVICON -->
    {#    <link rel="shortcut icon" type="image/x-icon" href="../assets/images/brand/favicon.ico" />#}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'login/images/brand/favicon.ico' %}"/>


    <!-- TITLE -->
    <title>ZETIC - практическая психолгия</title>

    <!-- BOOTSTRAP CSS -->
    {#    <link id="style" href="../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />#}
    <link id="style" href="{% static 'login/plugins/bootstrap/css/bootstrap.css' %}" rel="stylesheet"/>

    <!-- STYLE CSS -->
    {#    <link href="../assets/css/style.css" rel="stylesheet" />#}
    <link href="{% static 'login/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'login/css/custom.css' %}" rel="stylesheet"/>
    {#    <link href="../assets/css/dark-style.css" rel="stylesheet" />#}
    <link href="{% static 'login/css/dark-style.css' %}" rel="stylesheet"/>

    {#    <link href="../assets/css/transparent-style.css" rel="stylesheet">#}
    <link href="{% static 'login/css/transparent-style.css' %}" rel="stylesheet"/>

    {#    <link href="../assets/css/skin-modes.css" rel="stylesheet" />#}
    <link href="{% static 'login/css/skin-modes.css' %}" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    {#    <link href="../assets/css/icons.css" rel="stylesheet" />#}
    <link href="{% static 'login/css/icons.css' %}" rel="stylesheet"/>

    <link href="{% static 'login/plugins/toastr/css/toastr.css' %}" rel="stylesheet"/>


    <!-- COLOR SKIN CSS -->
    {#    <link id="theme" rel="stylesheet" type="text/css" media="all" href="../assets/colors/color1.css" />#}

</head>

<body class="app sidebar-mini ltr login-img" style="background-color: cornflowerblue">

<!-- BACKGROUND-IMAGE -->
<div class="">

    <!-- GLOABAL LOADER -->
    <div id="global-loader">
        {#            <img src="../assets/images/loader.svg" class="loader-img" alt="Loader">#}
        <img src="{% static 'login/images/loader.svg' %}" class="loader-img" alt="Loader">
    </div>
    <!-- /GLOABAL LOADER -->

    <!-- PAGE -->
    <div class="page">
        <div class="">

            <!-- CONTAINER OPEN -->
            {#                <div class="col col-login mx-auto mt-7">#}
            {#                    <div class="text-center">#}
            {#                        <a href="index.html"><img src="../assets/images/brand/logo-white.png" class="header-brand-img" alt=""></a>#}
            {#                        <a href="index.html"><img src="{% static 'images/zetic_logo.png' %}" class="header-brand-img" alt=""></a>#}
            {#                    </div>#}
            {#                </div>#}
            {##}
            <div class="container-login100">
                <div class="wrap-login100 p-6">
                    <form class="login100-form validate-form">
                        <div class="col col-login mx-auto mb-6">
                            <div class="text-center">
                                {#                        <a href="index.html"><img src="../assets/images/brand/logo-white.png" class="header-brand-img" alt=""></a>#}
                                <a href="index.html"><img src="{% static 'images/zetic_logo.png' %}"
                                                          class="header-brand-img" alt="" style="height: 70px"></a>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-body tabs-menu-body p-0 pt-5">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab5">
                                        <div class="wrap-input100 validate-input input-group"
                                             data-bs-validate="Valid email is required: ex@abc.xyz">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-email text-muted" aria-hidden="true"></i>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0" placeholder="Login"
                                                   id="login">
                                        </div>
                                        <div class="wrap-input100 validate-input input-group" id="Password-toggle">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <i class="zmdi zmdi-eye text-muted" aria-hidden="true"></i>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0" type="password"
                                                   placeholder="Password" id="password">
                                        </div>
                                        {#                                            <div class="text-end pt-4">#}
                                        {#                                                <p class="mb-0"><a href="forgot-password.html" class="text-primary ms-1">Forgot Password?</a></p>#}
                                        {#                                            </div>#}
                                        <div class="container-login100-form-btn">
                                            <div href="" class="login100-form-btn btn-primary cursor-pointer"
                                                 id="btn_submit">
                                                Войти
                                            </div>
                                        </div>
                                        {#                                            <div class="text-center pt-3">#}
                                        {#                                                <p class="text-dark mb-0">Not a member?<a href="register.html" class="text-primary ms-1">Sign UP</a></p>#}
                                        {#                                            </div>#}
                                        {#                                            <label class="login-social-icon"><span>Login with Social</span></label>#}
                                        {#                                            <div class="d-flex justify-content-center">#}
                                        {#                                                <a href="javascript:void(0)">#}
                                        {#                                                    <div class="social-login me-4 text-center">#}
                                        {#                                                        <i class="fa fa-google"></i>#}
                                        {#                                                    </div>#}
                                        {#                                                </a>#}
                                        {#                                                <a href="javascript:void(0)">#}
                                        {#                                                    <div class="social-login me-4 text-center">#}
                                        {#                                                        <i class="fa fa-facebook"></i>#}
                                        {#                                                    </div>#}
                                        {#                                                </a>#}
                                        {#                                                <a href="javascript:void(0)">#}
                                        {#                                                    <div class="social-login text-center">#}
                                        {#                                                        <i class="fa fa-twitter"></i>#}
                                        {#                                                    </div>#}
                                        {#                                                </a>#}
                                        {#                                            </div>#}
                                    </div>
                                    <div class="tab-pane" id="tab6">
                                        <div id="mobile-num" class="wrap-input100 validate-input input-group mb-4">
                                            <a href="javascript:void(0)" class="input-group-text bg-white text-muted">
                                                <span>+91</span>
                                            </a>
                                            <input class="input100 border-start-0 form-control ms-0">
                                        </div>
                                        <div id="login-otp" class="justify-content-around mb-5">
                                            <input class="form-control text-center w-15" id="txt1" maxlength="1">
                                            <input class="form-control text-center w-15" id="txt2" maxlength="1">
                                            <input class="form-control text-center w-15" id="txt3" maxlength="1">
                                            <input class="form-control text-center w-15" id="txt4" maxlength="1">
                                        </div>
                                        <span>Note : Login with registered mobile number to generate OTP.</span>
                                        <div class="container-login100-form-btn ">
                                            <a href="javascript:void(0)" class="login100-form-btn btn-primary"
                                               id="generate-otp">
                                                Proceed
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- CONTAINER CLOSED -->
        </div>
    </div>
    <!-- End PAGE -->

</div>
<!-- BACKGROUND-IMAGE CLOSED -->

<!-- JQUERY JS -->
{#    <script src="../assets/js/jquery.min.js"></script>#}
<script src="{% static 'login/js/jquery.min.js' %}"></script>


<!-- BOOTSTRAP JS -->
{#    <script src="../assets/plugins/bootstrap/js/popper.min.js"></script>#}
<script src="{% static 'login/plugins/bootstrap/js/popper.min.js' %}"></script>
{#    <script src="../assets/plugins/bootstrap/js/bootstrap.min.js"></script>#}
<script src="{% static 'login/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- SHOW PASSWORD JS -->
{#    <script src="../assets/js/show-password.min.js"></script>#}
<script src="{% static 'login/js/show-password.min.js' %}"></script>

<!-- GENERATE OTP JS -->
{#    <script src="../assets/js/generate-otp.js"></script>#}
<script src="{% static 'login/js/generate-otp.js' %}"></script>

<!-- Perfect SCROLLBAR JS-->
{#    <script src="../assets/plugins/p-scroll/perfect-scrollbar.js"></script>#}
<script src="{% static 'login/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
<!-- Color Theme js -->
{#    <script src="../assets/js/themeColors.js"></script>#}
<script src="{% static 'login/js/themeColors.js' %}"></script>

<!-- CUSTOM JS -->
{#    <script src="../assets/js/custom.js"></script>#}
<script src="{% static 'login/js/custom.js' %}"></script>

<script src="{% static 'login/plugins/toastr/js/toastr.js' %}"></script>


<script>
    {% if error %}
        toastr.error('{{ error }}')
    {% endif %}

    $('#btn_submit').on('click', function () {
        {#e.preventDefault()#}
        {#let csrf_token = '{{ csrf_token }}'#}
        if ($('#login').val() == '' || $('#password').val() == '') {
            toastr.error('Введите логин и пароль')
        } else {
            $(this).html("<div class=='d-flex justify-content-center'><div class='spinner-border' style='width: 25px; height: 25px;' role='status'><span class='visually-hidden'>Loading...</span></div></div>")
            let token = '{{ csrf_token }}';
            $.ajax({
                headers: {"X-CSRFToken": token},
                url: "{% url 'login_home' %}",
                type: 'POST',

                data: JSON.stringify({
                    'login': $('#login').val(),
                    'password': $('#password').val()
                }),
                processData: false,
                contentType: false,
                error: function (data) {
                    toastr.error('Ошибка', data)
                    $('#btn-submit').html("Войти")
                },
                success: function (data) {
                    console.log(data)
                    let data_json = $.parseJSON(data);
                    let response = data_json['response'];
                    console.log(response)
                    if (response === 'error') {
                        $('#btn_submit').html("Войти")
                        toastr.error(data_json['text'])

                    } else {
                        {#toastr.success("Вошел")#}
                        window.location.href = "{% url 'panel_home' %}";
                    }
                }
            });
        }
    })

</script>


</body>

</html>