<p>
    Напоминаем Вам о заполнении опросника Zetic, изучающего закономерности поведения и ключевые черты характера, влияющие на эффективность в работе.
</p>
<p>
    Вам необходимо заполнить все разделы, которые Вы увидите на экране.
</p>
<p>
    Вы можете заполнять опросник в любом порядке и на любом гаджете. В любой момент Вы можете остановиться и вернуться к заполнению позже. Все ответы будут сохранены.
В среднем на заполнение опросника потребуется порядка 60 минут.
</p>
<p>
    После завершения опроса Ваши ответы будут обработаны и переведены в отчет.
</p>
