{% extends 'search/panel_search_base.html' %}
{% load static %}
{% load tz %}

{% block links %}
{#<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">#}
{% endblock %}

<!-- CONTAINER -->
{% block search_content %}
    <!-- ROW-1 -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12">

            <div class="row ">
                <div class="col-md-12">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Параметры для поиска</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="method">Компания</label>
                                    <select class="form-control select2-show-search form-select"
                                            data-placeholder="Выберите компанию" id="select_company">

                                        <option label="" selected value="all">-- Все компании --</option>
                                        {% for company in companies %}
                                            <option id="company_id_{{ company.id }}"
                                                    data-company-active="{{ company.active }}"
                                                    value="{{ company.id }}">{{ company.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group col-lg-6 col-sm-12">
                                    <label for="method">Статус заполнения опросника</label>
                                    <select class="form-control form-select"
                                            data-placeholder="Выберите компанию" id="select_status">
                                        <option value="not_selected" label="">-- Сделайте выбор --</option>
                                        <option value="not_started">Не начали заполнять</option>
                                        <option value="not_finished">Не закончили заполнять</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12">
                                    <button class="btn ripple btn-primary w-100" style="height: 40px" type="button"
                                            id="start_questionnaire_status_search">
                                        Начать поиск
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Результат поиска</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table text-nowrap border-bottom no-footer key-buttons"
                                       id="table_questionnaire_status_search">
                                    <thead>
                                    {#                                                            <tr class="table-header">#}
                                    <tr>
                                        <th class="wd-15p border-bottom-0 table-header">ФИО</th>
                                        <th class="wd-15p border-bottom-0 table-header">Email</th>
                                        <th class="wd-15p border-bottom-0 table-header">Компания</th>
                                        <th class="wd-15p border-bottom-0 table-header">Ответы</th>
                                        <th class="wd-15p border-bottom-0 table-header">Опросник</th>
                                        <th class="wd-15p border-bottom-0 table-header">Дата последних ответов</th>
                                        <th class="wd-15p border-bottom-0 table-header">Статус блокировки</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table_questionnaire_status_search_tbody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block search_script %}

    <script>

        {#let url_get_company_projects = "{% url 'get_company_projects' %}"#}
        {#let url_search_for_employees = "{% url 'search_for_employees' %}"#}


    </script>


    <script src="{% static 'panel/js/search/panel_questionnaire_status_search.js' %}"></script>


{% endblock %}
