{% for item in data %}
    <tr>
        <td class="wd-15p border-bottom-0">{{ item.name }}</td>
        <td class="wd-15p border-bottom-0">{{ item.email }}</td>
        <td class="wd-15p border-bottom-0">{{ item.company_name }}</td>
        <td class="wd-15p border-bottom-0">{{ item.gender }}</td>
        <td class="wd-15p border-bottom-0">{{ item.birth_year }}</td>
        <td class="wd-15p border-bottom-0">{{ item.role }}</td>
        <td class="wd-15p border-bottom-0">{{ item.position }}</td>
        <td class="wd-15p border-bottom-0">{{ item.industry }}</td>
        <td class="wd-15p border-bottom-0">
            {% for study in item.studies %}
                <div>{{ study.name }}</div>
            {% endfor %}

        </td>
        <td class="wd-15p border-bottom-0">
            {% for project in item.projects %}
                <div>{{ project }}</div>
            {% endfor %}
        </td>
        <td class="wd-15p border-bottom-0">
            {% for questionnaire in item.questionnaires %}
                <div><b>Дата создания:</b></div>
                <div>{{ questionnaire.created_at }}</div>
                {% if questionnaire.questionnaire_visits %}
                    <div><b>Посещения:</b></div>
                    {% for questionnaire_visit in questionnaire.questionnaire_visits %}
                        <div>{{ questionnaire_visit }}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </td>
        <td class="wd-15p border-bottom-0">
            {% if item.invitation_code %}
                <div class="input-group">
                    <a type="text" class="form-control" style="padding: 5px 10px"
                       href="{% url 'participant_data' item.invitation_code %}">Ссылка</a>
                    <span style="cursor: pointer" title="Скопировать ссылку"
                          class="input-group-text copy-questionnaire-link"><i style="font-size: 12px"
                                                                              class="fe fe-copy"
                                                                              data-bs-toggle="tooltip"
                                                                              title="Скопировать ссылку"
                                                                              data-bs-original-title="Скопировать ссылку"
                                                                              aria-label="fe fe-copy"></i></span>
                </div>
            {% endif %}
        </td>
        <td class="wd-15p border-bottom-0">
            {% for report_date in item.reports_dates %}
                <div>{{ report_date }}</div>
            {% endfor %}

        </td>
        <td class="wd-15p border-bottom-0">
            {% for report_file in item.reports_files %}
                <a style="padding: 0!important;" class="dropdown-item" href="/panel/download_single_report/{{ report_file }}">Скачать</a>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
