{% for item in data %}
    <tr>
        <td class="wd-15p border-bottom-0">{{ item.name }}</td>
        <td class="wd-15p border-bottom-0">{{ item.email }}</td>
        <td class="wd-15p border-bottom-0">{{ item.company_name }}</td>
        <td class="wd-15p border-bottom-0">
            {% for project in item.projects %}
                <div>{{ project }}</div>
            {% endfor %}
        </td>
        <td class="wd-15p border-bottom-0">
            {% for questionnaire in item.questionnaires %}
                <div>{{ questionnaire.created_at }}</div>
                {% if questionnaire.questionnaire_visits %}
                    <div>Посещения:</div>
                    {% for questionnaire_visit in questionnaire.questionnaire_visits %}
                        <div>{{ questionnaire_visit }}</div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </td>
        <td class="wd-15p border-bottom-0">
            {% for report_date in item.reports_dates %}
                <div>{{ report_date }}</div>
            {% endfor %}

        </td>
        <td class="wd-15p border-bottom-0">
            {% for report_file in item.reports_files %}
                <a style="padding: 0!important;" class="dropdown-item" href="download_single_report/{{ report_file }}">Скачать</a>
            {% endfor %}
        </td>
    </tr>
{% endfor %}
