<h4>Уважаемый участник,</h4>
<p>
    Вы приглашены принять участие в пилоте нового инструмента оценки для Ростелекома – опросник выгорания.
    <br />
    Спасибо за вашу готовность участвовать в пилоте!
    <br />

    По всем вопросам вы можете обратиться к Директору направления Люшаковой Марии <a href="mailto:Mariya.lyushakova@rt.ru">Mariya.lyushakova@rt.ru</a>
</p>
<p>
    Приглашаем Вас заполнить опросник Zetic, изучающий закономерности поведения и ключевые черты характера, влияющие на эффективность в работе.
</p>
<p>
    Вам необходимо заполнить все разделы, которые Вы увидите на экране.
</p>
<p>
    Вы можете заполнять опросник в любом порядке и на любом гаджете. В любой момент Вы можете остановиться и вернуться к заполнению позже. Все ответы будут сохранены. В среднем на заполнение опросника потребуется порядка 60 минут.
</p>
<p>
    Пройдите по ссылке: <a href="https://app.zetic.ru/">https://app.zetic.ru/</a><br>
    ID: {{ code_for_participant }}<br>
    email: {{ participant_email }}

</p>
<p>
    После завершения опроса Вам в почту будет отправлен Ваш индивидуальный отчет.
</p>
<table>
    <tbody>
    <tr>
        <td>
            <img src="cid:{{ logo_cid }}" alt="Zetic" width="260" height="140" />
        </td>
        <td>
            <p>
                Команда Zetic<br>
                <a href="https://www.zetic.ru">www.zetic.ru</a><br>
                <a href="mailto:info@zetic.ru">info@zetic.ru</a><br>
                <a href="tel:+74951270389">+7 495 127 03 89</a> <br />
            </p>
        </td>
    </tr>
    </tbody>
</table>
