<h4>Привет!</h4>
<p>
    Мы, компания Zetiс, разработали опрос, благодаря которому ты можешь поисследовать свой стресс.
</p>
<p>
    Вот ссылка на него:  <a href="https://app.zetic.ru/">Исследование Zetic</a><br>
    И твой персональный ID для входа в систему: {{ code_for_participant }}<br>
    E-mail: {{ participant_email }}
</p>
<p>
    На основании результатов этого опроса наш консультант расскажет как тебе эффективнее справляться со стрессовыми
    ситуациями и выгоранием с учетом особенностей твоей личности. А также подскажет инструменты профилактики стресса.
    Твой отчет будет доступен только тебе.
</p>
<p>
    Запланируй на заполнение опроса 1 час, обычно этого хватает. Также ты можешь отвечать на вопросы в несколько
    подходов и с разных гаджетов. Все ответы будут сохранены.
</p>
<p>
    После заполнения опроса тебе в почту придет отчет, который для тебя расшифрует наш эксперт на личной встрече.
</p>
<table>
    <tbody>
    <tr>
        <td>
            <img src="cid:{{ logo_cid }}" alt="Zetic" width="260" height="140" />
        </td>
        <td>
            <p>
                Команда Zetic<br>
                <a href="https://www.zetic.ru">www.zetic.ru</a><br>
                <a href="mailto:info@zetic.ru">info@zetic.ru</a><br>
                <a href="tel:+74951270389">+7 495 127 03 89</a> <br />
            </p>
        </td>
    </tr>
    </tbody>
</table>
