<h4>Уважаемый участник,</h4>
<p>
    Благодарим Вас за участие в опросе. <br/>
    В приложении к этому письму Вы найдете Ваш отчет с результатами диагностики.
</p>

<table>
    <tbody>
        <tr>
            <td>
                <img src="cid:{{ logo_cid }}" alt="Zetic" width="260" height="140" />
            </td>
            <td>
                <p>
                    Команда Zetic<br>
                    <a href="https://www.zetic.ru">www.zetic.ru</a><br>
                    <a href="mailto:info@zetic.ru">info@zetic.ru</a><br>
                    <a href="tel:+74951270389">+7 495 127 03 89</a> <br />
                </p>
            </td>
        </tr>
    </tbody>
</table>
