<h4>Привет!</h4>
<p>
    В приложении к письму ты найдешь свой отчет.
</p>
<p>
    В ближайшее время у тебя будет возможность разобрать его вместе с экспертом в ходе личной встречи.
</p>

<table>
    <tbody>
        <tr>
            <td>
                <img src="cid:{{ logo_cid }}" alt="Zetic" width="260" height="140" />
            </td>
            <td>
                <p>
                    Команда Zetic<br>
                    <a href="https://www.zetic.ru">www.zetic.ru</a><br>
                    <a href="mailto:info@zetic.ru">info@zetic.ru</a><br>
                    <a href="tel:+74951270389">+7 495 127 03 89</a> <br />
                </p>
            </td>
        </tr>
    </tbody>
</table>
