{% extends 'panel_base.html' %}
{% load static %}
{% block links %}
    <link href="{% static 'panel/plugins/circle_progress_bar/css/circle.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}

    <div class="side-app">

        <!-- CONTAINER -->
        <div class="main-container container-fluid">

            <!-- PAGE-HEADER -->
            <div class="page-header">
                {% if potential_matrix %}
                    <h1 class="page-title">Изменение матрицы потенциала</h1>
                {% else %}
                    <h1 class="page-title">Добавление матрицы потенциала</h1>
                {% endif %}
                <div>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        {% if potential_matrix %}
                            <li class="breadcrumb-item active" aria-current="page">Изменение матрицы потенциала</li>
                        {% else %}
                            <li class="breadcrumb-item active" aria-current="page">Добавление матрицы потенциала</li>
                        {% endif %}

                    </ol>
                </div>
            </div>
            <!-- PAGE-HEADER END -->

            <!-- ROW-1 OPEN -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Параметры фильтра</h3>
                        </div>
                        <div class="card-body">
                            {% if project %}
                                <div class="row">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="company">Компания</label>
                                            <input type="text" class="form-control" id="company"
                                                   value="{{ project.company.id }}. {{ project.company.name }}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12">
                                        <div class="form-group">
                                            <label for="project">Проект</label>
                                            <input type="text" class="form-control" id="project"
                                                   value="{{ project.id }}. {{ project.name }}" disabled>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <label for="method">Квадрат</label>
                                        <select name="method"
                                                class="form-control form-select"
                                                id="square">
                                            <option value="0">-- Сделайте выбор --</option>
                                            {% for matrix_not_defined in matrices_not_defined %}
                                                {% if potential_matrix.code == matrix_not_defined.code %}
                                                    <option value="{{ matrix_not_defined.code }}"
                                                            selected>{{ matrix_not_defined.code }}
                                                        - {{ matrix_not_defined.name }}</option>
                                                {% else %}
                                                    <option value="{{ matrix_not_defined.code }}">{{ matrix_not_defined.code }}
                                                        - {{ matrix_not_defined.name }}</option>
                                                {% endif %}

                                                {#                                                {% for category in potential_matrix_categories %}#}
                                                {#                                                    {% if category.matrix == matrix %}#}
                                                {#                                                        <option value="{{ matrix.code }}" selected>{{ matrix.code }}#}
                                                {#                                                            - {{ matrix.name }}</option>#}
                                                {#                                                    {% else %}#}
                                                {#                                                        <option value="{{ matrix.code }}">{{ matrix.code }}#}
                                                {#                                                            - {{ matrix.name }}</option>#}
                                                {##}
                                                {#                                                    {% endif %}#}
                                                {##}
                                                {#                                                {% endfor %}#}

                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="potential_matrix_conditions_body">
                <div class="col-xl-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Группы/Категории + баллы</h3>
                        </div>
                        <div class="card-body">
                            {% if not groups_by_levels %}
                                {% include 'common_templates/conditions_group.html' %}
                            {% endif %}



                        </div>
                    </div>
                </div>
            </div>                        <!-- ROW-1 CLOSED -->


            <button class="btn ripple btn-primary w-100 mb-4" style="height: 40px" type="button"
                    id="save_potential_matrix">
                Сохранить матрицу
            </button>

        </div>
        <!--CONTAINER CLOSED -->

    </div>


    <!-- ROW-1 CLOSED -->

    {% include 'potential_matrix/modal_add_item.html' %}

    <!--CONTAINER CLOSED -->
    <template id="category_tr_template">
{#        <div>#}
            {% include 'potential_matrix/potential_matrix_category_tr.html' %}
{#        </div>#}
    </template>
    <template id="conditions_group_template">
        <div>
            {% include 'common_templates/conditions_group.html' %}
        </div>
    </template>
    <template id="potential_matrix_category_table_template">
        <div>
            {% include 'potential_matrix/potential_matrix_category_table.html' %}
        </div>
    </template>


{% endblock %}

{% block script %}

    <script>

        let url_get_company_employees_for_new_study = "{% url 'get_company_employees_for_new_study' %}"
        let url_save_potential_matrix = "{% url 'save_potential_matrix' %}"
        let url_potential_matrix_list = "{% url 'potential_matrix_list' %}"

        {% if groups_by_levels %}
        let groups_by_levels = {{ groups_by_levels|safe }}
        {% else %}
        let groups_by_levels = ''
        {% endif %}
        {#console.log(groups_by_levels)#}

        {% if potential_matrix %}
            let matrix_id = {{ potential_matrix.id }};
        {% else %}
            let matrix_id = '';
        {% endif %}

        {% if project %}
            let project_id = {{ project.id }};
            let url_edit_project = "{% url 'edit_project' project.id %}"
        {% else %}
            let url_edit_project = ''
            let project_id = '';
        {% endif %}


    </script>
    <script src="{% static 'login/js/select2.js' %}"></script>

    <script src="{% static 'panel/js/potential_matrix/add_potential_matrix.js' %}?{{ timestamp }}"></script>
    <script src="{% static 'panel/js/common_funcs/conditions_group.js' %}?{{ timestamp }}"></script>
{% endblock %}